@font-face {
  font-family: "TTEditMirrorWritingGothic";
  src: url(../font/TTEditMirrorWritingGothic.ttf);
}

body {
  margin: 0px;
  width: 1080px;
  height: 1920px;
  font-family: TTEditMirrorWritingGothic;
  font-size: 40px;
}
.box {
  width: 1080px;
  height: 640px;
  background-color: black;
  position: relative;
  overflow: hidden;
}

#text {
  z-index: 110;
  width: 1080px;
  height: 60px;
  top: 550px;
  left: 0px;
  position: absolute;
  /* background-color: aqua; */
  text-align: center;
}
#textBox {
  display: none;
  z-index: 100;
  width: 1080px;
  height: 640px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: url(img/textBox.png);

  /* animation: passanim_ball 4s; */
}
#cut {
  display: none;
  z-index: 120;
  width: 1080px;
  height: 640px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: url(img/cut2.png);
  animation: player 1s linear;
}
@keyframes player {
  0% {
    transform: translateX(-1080px);
  }
  10% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* /////////////////////////////////////////ここまで統一 */
#player {
  z-index: 100;
  width: 640px;
  height: 640px;
  top: 0px;
  left: 440px;
  position: absolute;
  background: url(img/kame.png);
  animation: player 4s;
}
@keyframes player {
  0% {
    transform: translateX(-1080px);
  }
  100% {
    transform: translateX(0px);
  }
}
#menter {
  z-index: 100;
  width: 640px;
  height: 640px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: url(img/taro.png);
  animation: pikachu 4s;
}
@keyframes pikachu {
  0% {
    transform: translateX(1080px);
  }
  100% {
    transform: translateX(0px);
  }
}
